{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="title" content="project" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="author" content="vinayak sharma" />

    <title>{{ title }}</title>

    <!-- bootstrap file -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- bootstrap file -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- main css -->
    <link rel="stylesheet" type="text/css" href="{% static 'student.css' %}" />

    <!-- message here -->

    {% if messages %}
      {% for message in messages %}
        <script>
          alert('{{ message }}')
        </script>
      {% endfor %}
    {% endif %}

    <!-- _______________________________________________ -->
  </head>

  <body class="container-fluid">
    <header class="row">
      <!-- navbar -->
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" class="styleheader" href="{% url 'student_notice' %}">Home</a>
          </div>
          <div class="collapse navbar-collapse" id="mainNavBar">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="{% url 'student_view_profile' %}"><span class="glyphicon glyphicon-dues"></span> View Profile</a>
              </li>
              <li>
                <a href="{% url 'student_change_password' %}"><span class="glyphicon glyphicon-dues"></span>Change Password</a>
              </li>
              <li>
                <a href="{% url 'student_passbook' %}"><span class="glyphicon glyphicon-dues"></span> View Passbook</a>
              </li>
              <li>
                <a href="{% url 'view_menu' %}"><span class="glyphicon glyphicon-dues"></span> View Menu</a>
              </li>
              <li>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Complaints <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <button class="dropDown_Btn" onclick="location.href='{% url 'make_complaints' %}'">Make Complaint</button><br />
                  <button class="dropDown_Btn" onclick="location.href='{% url 'view_complaints' %}'">View Complaint</button>
                </div>
              </li>
              <li>
                <a href="{% url 'logout' %}"><span class="glyphicon glyphicon-logout"></span> Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div>
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
