{% extends "student/base.html" %}
{% block content %}
<center>
  <h1>Pay Fees</h1>
  <h3>Total Due: {{ total_due }}</h3>
  <br />
  <form id="pay-form" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="pay_button" type="submit" value="Pay" />
    <button class="pay_button" type="button" onclick="payFullAmount()">Pay Full Amount</button>
  </form>
  <script>
    function payFullAmount() {
      var amountField = document.getElementById('id_amount')
      amountField.value = '{{ total_due }}'
      document.getElementById('pay-form').submit()
    }
  </script>
</center>
{% endblock %}
