{% extends 'student/base.html' %}
{% load crispy_forms_tags %}
{% block student-content %}
<div id="finance-bg" class="form-bg">
    <div class="form-card">
      <div id="finance" class="left-half"></div>
      <div class="overflow-auto right-half">
        <center>
     <h1>Pay Fees</h1>
    <h3>Total Due: {{ total_due }}</h3><br>
        </center>
        <form id="pay-form" method="POST" style="margin-top:0; margin-bottom:0; border-radius:1%;">
          {% csrf_token %}
          <fieldset class="form-group">{{ form|crispy }}</fieldset>
          <br />
          <center>
            <button class="pay_button" style="background-color: darkgoldenrod;" type="submit" value="Pay"><span class="glyphicon glyphicon-check"></span>Pay</button>
          </center>
        </form>
      </div>
    </div>
    <script>
      function payFullAmount() {
        var amountField = document.getElementById('id_amount')
        amountField.value = '{{ total_due }}'
        document.getElementById('pay-form').submit()
      }
    </script>
  </div>
{% endblock %}
