{% extends 'student/base.html' %}
{% block content %}
  <div id="profile-bg">
    <center>
      <table id="profile" class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col">Profile Field</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>stakeholder ID</td>
            <td>{{ student.client.stakeholderID }}</td>
          </tr>
          <tr>
            <td>First Name</td>
            <td>{{ student.client.first_name }}</td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>{{ student.client.last_name }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ student.client.email }}</td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td>{{ student.client.mobile }}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>{{ student.client.address }}</td>
          </tr>
          <tr>
            <td>Hall</td>
            <td>{{ student.hall.name }}</td>
          </tr>
          <tr>
            <td>Room</td>
            <td>{{ student.room.code }}</td>
          </tr>
        </tbody>
      </table>
    </center>
  </div>
{% endblock %}
