{% extends 'student/base.html' %}
{% block content %}
<center>
    <input id="view_profile_fields" placeholder="{{ student.client.stakeholderID }}" readonly><br /><br />
    <input id="view_profile_fields" placeholder="{{ student.client.first_name }}" readonly><br /><br />
    <input id="view_profile_fields" placeholder="{{ student.client.last_name }}" readonly><br /><br />
    <input id="view_profile_fields" placeholder="{{ student.client.email }}" readonly><br /><br />
    <input id="view_profile_fields" placeholder="{{ student.client.mobile }}" readonly><br /><br />
    <input id="view_profile_fields" placeholder="{{ student.client.address }}" readonly><br /><br />
</center>
{% endblock %}