{% extends 'hmc/base.html' %}
{% block hmc-content %}
  <div id="profile-bg">
    <div id="profile">
      <table class="table table-bordered table-hover text-center" style="color:white">
        <thead>
          <tr>
            <th scope="col">Profile Field</th>
            <th scope="col">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>stakeholder ID</td>
            <td>{{ hmc.client.stakeholderID }}</td>
          </tr>
          <tr>
            <td>First Name</td>
            <td>{{ hmc.client.first_name }}</td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>{{ hmc.client.last_name }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ hmc.client.email }}</td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td>{{ hmc.client.mobile }}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>{{ hmc.client.address }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
