{% extends 'hmc/base.html' %}
{% block hmc-content %}
  <div id="profile-bg">
    <div id="profile" style="overflow: auto">
      <table class="table table-bordered table-hover text-center" style="color:white">
        <thead>
          <tr>
            <th scope="col">Name of Hall</th>
            <th scope="col">Maximum Capacity</th>
            <th scope="col">Current Occupancy</th>
          </tr>
        </thead>
        <tbody>
          {% for hall in halls %}
            <tr>
              <td>{{ hall.name }}</td>
              <td>{{ hall.max_occupancy }}</td>
              <td>{{ hall.current_occupancy }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
