.embed-responsive .card-img-top {
    object-fit: cover;
  }
  
  .dropDown_Btn {
    font-size: 15px;
    background-color: white;
    border: 0;
    width: 200px;
    height: 30px;
    text-align: center;
    text-decoration: none !important;
  }
  
  .dropDown_Btn:hover {
    background-color: #04AA6D; /* Green */
    color: white;
  }
  
  .notice-container {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    position: relative;
  }
  
  .notice-card {
    width: 25%;
    padding: 10px;
  }
  
  .responsive {
    width: 100%;
    height: auto;
  }

.pay_button {
  text-decoration: none !important;
  background-color: #291973;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.pay_button:hover {
  color: white;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  font-size: 18px; /* Increase the font size to 18px */
}
