.embed-responsive .card-img-top {
    object-fit: cover;
  }
  
  .dropDown_Btn {
    font-size: 15px;
    background-color: white;
    border: 0;
    width: 200px;
    height: 30px;
    text-align: center;
    text-decoration: none !important;
  }
  
  .dropDown_Btn:hover {
    background-color: #04AA6D; /* Green */
    color: white;
  }
  