{% extends 'mess_manager/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div id="password-bg" class="form-bg">
    <div class="form-card">
      <div id="password" class="left-half"></div>
      <div class="overflow-auto right-half">
        <center>
          <br />
          <br />
          <br />
          <h1>Change Password</h1>
        </center>
        <form method="POST" style="margin: 10%; margin-top:0; margin-bottom:0; padding:10%; border-radius:1%;">
          {% csrf_token %}
          <fieldset class="form-group">{{ form|crispy }}</fieldset>
          <br />
          <br />
          <center>
            <button class="pay_button" type="submit" style=" background-color:orange;"><span class="glyphicon glyphicon-check"></span>Change</button>
          </center>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
