{% extends 'mess_manager/base.html' %}
{% block content %}
  <center>
    <img src="{{ MEDIA_URL }}\hall_committee_pfp.png" alt="Image" />
  </center>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Notice Title</th>
        <th scope="col">Notice Content</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      {% for notice in notices %}
        <tr>
          <th>
            <h5 class="card-title">{{ notice.title }}</h5>
          </th>
          <td>
            <p class="card-text">{{ notice.report }}</p>
          </td>
          <td>
            <img class="card-img-top img-responsive" src="{{ MEDIA_URL }}{{ notice.image.url }}" alt="Card image cap" />
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
