{% extends 'mess_manager/base.html' %}
{% load crispy_forms_tags %}
{% block mess-manager-content %}
  <div id="menu-bg" class="form-bg">
    <div class="form-card">
      <div id="menu" class="left-half"></div>
      <div class="right-half">
        <center>
          <br />
          <h1>Make Menu</h1>
        </center>
        <form method="POST" style="margin-top:0; margin-bottom:0; border-radius:1%;">
          {% csrf_token %}
          <fieldset class="form-group">{{ form|crispy }}</fieldset>
          <br />
          <center>
            <button class="pay_button" type="submit" style=" background-color:chocolate;"><span class="glyphicon glyphicon-check"></span>Enter</button>
          </center>
        </form>
      </div>
    </div>
  </div>
{% endblock %}