{% extends 'auth/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div style="width: 50%; height: 50%; margin-top: 10%; margin-left: 25%;">
    <form method="POST" style="border: 1px solid black; margin: 4%; color:white; background-color: rgb(0 0 0 / 60%); padding:10%; border-radius:1%;">
      {% csrf_token %}
      <fieldset class="form-group">{{ form|crispy }}</fieldset>
      <center>
        <button class="pay_button" type="submit"><span class="glyphicon glyphicon-check"></span> Change Password</button>
      </center>
      <br />
    </form>
  </div>
{% endblock %}
