{% extends 'auth/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section col-md-8 col-md-offset-2">
    <center>
      <h1>Login</h1>
      <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
        {% csrf_token %}
        <fieldset class="form-group">{{ form|crispy }}</fieldset>
        <center>
          <button class="pay_button" type="submit"><span class="glyphicon glyphicon-log-in"></span> Login</button>
        </center>
      </form>
      <center>
        <button class="pay_button" onclick="location.href='{% url 'get_email' %}'">Forgot Password</button>
      </center>
    </center>
  </div>
{% endblock %}
