{% extends 'base.html' %}
{% load static %}
{% block styles %}
  .form-bg {
    height: 100%; 
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-card {
    display: flex;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    overflow: auto;
    box-shadow: 20px 20px 0.5rem rgba(0, 0, 0, 0.1);
    background-color: white;
  }

  .left-half {
    width: 50%;
    height: 100%;
    background: url("{% static 'employee.jpeg' %}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .right-half {
    color: white;
    overflow: auto;
    font-weight: bold;
    background-color:  rgb(0 0 0 / 60%);
    width: 50%;
    height: 100%;
    padding: 10%;
    justify-content: center;
  }

  #add-emp-bg {
    background: url("{% static 'add_employee.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #profile-bg {
    height: 100%;
    background: url("{% static 'profile.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #app-leave-bg {
    background: url("{% static 'cyan.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #app-leave {
    background: url("{% static 'leave.png' %}");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #del-bg {
    background: url("{% static 'red.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #del {
    background: url("{% static 'delete.png' %}");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #edit-bg {
    background: url("{% static 'coral.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #edit {
    background: url("{% static 'edit.jpg' %}");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }


  #password-bg {
    background: url("{% static 'purple.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #password {
    background: url("{% static 'password.jpg' %}");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #search-bg {
    background: url("{% static 'lilac.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #search {
    background: url("{% static 'search.jpg' %}");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #finance-bg {
    background: url("{% static 'green.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #finance {
    background: url("{% static 'finance.jpg' %}");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #profile {
    color: white;
    background-color: rgb(0 0 0 / 60%);
    padding: 5%;
    border-radius: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:75%; 
    height:50%;
  }
  .embed-responsive .card-img-top {
    object-fit: cover;
  }
  
  .notice-container {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    position: relative;
  }
  
  .notice-card {
    width: 25%;
    padding: 10px;
  }
  
  .responsive {
    width: 100%;
    height: auto;
  }
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" style="height: 100%">
  
  <div class="row">
    {% if messages %}
      {% for message in messages %}
        <script>
          alert('{{ message }}')
        </script>
      {% endfor %}
    {% endif %}
  </div>

  <div class="row" style="border-radius: 20px; overflow: auto; box-shadow: 20px 20px 0.5rem rgba(0,0,0,0.1); background-color: white; height: 100%">
    {% block warden-content %}
    {% endblock %}
  </div>
</div>
{% endblock %}

{% block navbar-content %}
<ul class="navbar-nav" style="font-weight: bold">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'warden_landing' %}">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">View Hall</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li>
        <a class="dropdown-item" href="{% url 'view_hall_occupancy' %}">Hall Occupancy</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'view_student_details' %}">Student List</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'view_employee_details' %}">Employee List</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'hall_complaints' %}">View Complaints</a>
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hall Finances</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li>
        <a class="dropdown-item" href="{% url 'allot_budget' %}">Allot Budget</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'generate_hall_demand' %}">Generate Hall Fees</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'generate_mess_demand' %}">Generate Mess Fees</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'generate_hall_salary' %}">Generate Salaries</a>
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">View Passbooks</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li>
        <a class="dropdown-item" href="{% url 'warden_passbook' %}">Warden Passbook</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'hall_passbook' %}">Hall Passbook</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'mess_passbook' %}">Mess Passbook</a>
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hall Manager</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li>
        <a class="dropdown-item" href="{% url 'hall_manager' %}">View Profile</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'update_hallmanager_profile' %}">Update Profile</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'delete_hall_manager' %}">Delete Profile</a>
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mess Manager</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li>
        <a class="dropdown-item" href="{% url 'mess_manager' %}">View Profile</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'update_messmanager_profile' %}">Update Profile</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'delete_mess_manager' %}">Delete Profile</a>
      </li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li>
        <a class="dropdown-item" href="{% url 'warden_view_profile' %}">View Profile</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'warden_change_password' %}">Change Password</a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
  </li>
</ul>
{% endblock %}