{% extends 'warden/base.html' %}
{% block content %}
  <center>
    {% comment %}following division creates sequential notice cards that change row after every 4th notice{% endcomment %}
    <div class="notice-container">
      {% for notice in notices %}
        <div class="notice-card">
          <h4 class="card-title"><b>{{ notice.title }}</b></h4>
          <p class="card-text">{{ notice.content }}</p>
          <img class="responsive" src="{{ MEDIA_URL }}{{ notice.image.url }}" alt="Card image cap" />
        </div>
      {% endfor %}
    </div>
  </center>
{% endblock %}
