{% extends 'warden/base.html' %}
{% block content %}
  <center>
    <h3>
      <table class="table" style="width:50%">
        <thead>
          <th style="text-align: center">Profile Field</th>
          <th style="text-align: center">Data</th>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: center">Stakeholder ID</td>
            <td style="text-align: center">{{ warden.client.stakeholderID }}</td>
          </tr>
          <tr>
            <td style="text-align: center">First Name</td>
            <td style="text-align: center">{{ warden.client.first_name }}</td>
          </tr>
          <tr>
            <td style="text-align: center">Last Name</td>
            <td style="text-align: center">{{ warden.client.last_name }}</td>
          </tr>
          <tr>
            <td style="text-align: center">Email</td>
            <td style="text-align: center">{{ warden.client.email }}</td>
          </tr>
          <tr>
            <td style="text-align: center">Mobile</td>
            <td style="text-align: center">{{ warden.client.mobile }}</td>
          </tr>
          <tr>
            <td style="text-align: center">Address</td>
            <td style="text-align: center">{{ warden.client.address }}</td>
          </tr>
          <tr>
            <td style="text-align: center">Hall</td>
            <td style="text-align: center">{{ warden.hall.name }}</td>
          </tr>
          <tr>
            <td style="text-align: center">Department</td>
            <td style="text-align: center">{{ warden.department }}</td>
          </tr>
          <tr>
            <td style="text-align: center">Designation</td>
            <td style="text-align: center">{{ warden.designation }}</td>
          </tr>
          <tr>
            <td style="text-align: center">Posts Held</td>
            <td style="text-align: center">{{ warden.posts_held }}</td>
          </tr>
        </tbody>
      </table>
    </h3>
  </center>
{% endblock %}
