{% extends 'warden/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div id="add-emp-bg" class="form-bg">
    <div class="form-card">
      <div id="add-emp" class="left-half"></div>
      <div class="overflow-auto right-half">
        <center>
          <br />
          <br />
          <h1>Register Manager</h1>
        </center>
        <form method="POST" style="margin: 10%; margin-top:0; margin-bottom:0; padding:10%; border-radius:1%;">
          {% csrf_token %}
          <fieldset class="form-group">{{ form|crispy }}</fieldset>
          <br />
          <center>
            <button class="pay_button" type="submit" style=" background-color:rgb(92, 207, 157);"><span class="glyphicon glyphicon-check"></span>Register</button>
          </center>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
