{% extends 'warden/base.html' %}
{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th style="text-align: center">Id</th>
        <th style="text-align: center">First Name</th>
        <th style="text-align: center">Last Name</th>
        <th style="text-align: center">Email</th>
        <th style="text-align: center">Phone Number</th>
        <th style="text-align: center">Room Number</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td style="text-align: center">{{ student.client.stakeholderID }}</td>
          <td style="text-align: center">{{ student.client.first_name }}</td>
          <td style="text-align: center">{{ student.client.last_name }}</td>
          <td style="text-align: center">{{ student.client.email }}</td>
          <td style="text-align: center">{{ student.client.mobile }}</td>
          <td style="text-align: center">{{ student.room.code }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
