{% extends template %}
{% block content %}
  <center>
    <div class="notice-container">
      {% for complaint in complaints %}
        <div class="notice-card">
          <h4 class="card-title"><b>{{ complaint.title }}</b></h4>
          <p class="card-text">{{ complaint.content }}</p>
          <img class="responsive" src="{{ MEDIA_URL }}{{ complaint.image.url }}" alt="Card image cap" />
          <br />
          {% if complaint.status == False %}
            <h4>Pending</h4>
          {% else %}
            <button class="pay_button" onclick="location.href='{% url 'atr_pdf' complaint.pk %}'">Action Report</button>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </center>
{% endblock %}
