{% extends 'hall_manager/base.html' %}
{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Content Title</th>
      <th scope="col">Complaint Content</th>
      <th scope="col">Image</th>
      <th scope="col">ATR</th>
    </tr>
  </thead>
  <tbody>
    {% for complaint, atr in data %}
    <tr>
      <th scope="row">{{ complaint.title }}</th>
      <td>{{ complaint.content }}</td>
      <td><img class="card-img-top img-responsive" src="{{ MEDIA_URL }}{{ complaint.image.url }}" alt="Card image cap" /></td>
      <td>{{ atr.report }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% comment %} 
  {% for complaint, atr in data %}
    <div class="card" style="width: 25rem;">
      <img class="card-img-top img-responsive" src="{{ MEDIA_URL }}{{ complaint.image.url }}" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"></p>
      </div>
    </div> 
  {% endfor %}{% endcomment %}
{% endblock %}
