{% extends template %}
{% block content %}
  <div id="profile-bg" style="color:white;">
    <div id="profile" style="overflow:auto; max-height:50%; width:75%;">
      <center>
        <div style="padding-top: 10%;">
          <h1>Hall: {{ hall.name }}</h1><br />
          <h2>Total Occupancy: {{ total_occupied }}</h2>
          <h2>Total Capacity: {{ total_capacity }}</h2><br />
        </div>
        <table id="passbook" class="table table-bordered table-hover text-center">
          <thead>
            <tr>
              <th scope="col">Room Code</th>
              <th scope="col">Maximum Occupancy</th>
              <th scope="col">Current Occupancy</th>
            </tr>
          </thead>
          <tbody>
            {% for room in rooms %}
              <tr>
                <td>{{ room.block }}{{ room.floor }}{{ room.number }}</td>
                <td>{{ room.sharing }}</td>
                <td>{{ room.current_occupancy }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </center>
    </div>
  </div>
{% endblock %}
