{% extends template %}
{% block content %}
  <div id="profile-bg">
    <div id="profile" style="overflow:auto; max-height:50%">
      <center>
        <h1>Hall Passbook</h1>
        <br />
        <table id="passbook" class="table table-bordered table-hover text-center" style="font-size: x-large;">
          <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Amount</th>
              <th scope="col">Timestamp</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in transactions %}
              <tr>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.timestamp }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <br />
        <h2>Account Summary</h2>
        <br />
        <table id="passbook" class="table table-bordered table-hover text-center" style="font-size: x-large;">
          <thead>
            <tr>
              <th scope="col">Total Allotment</th>
              <th scope="col">Total Expenditure</th>
              <th scope="col">Passbook Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ total_expenditures }}</td>
              <td>{{ total_grants }}</td>
              <td>{{ balance }}</td>
            </tr>
          </tbody>
        </table>
        <btn class="pay_button" style="color:white; background-color: rgb(0 0 0 / 60%);" onclick="location.href='{% url 'hall_passbook_pdf' %}'">Print Passbook</btn>
      </center>
    </div>
  </div>
{% endblock %}
