{% extends 'hall_manager/base.html' %}
{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th style="text-align: center">Id</th>
        <th style="text-align: center">First Name</th>
        <th style="text-align: center">Last Name</th>
        <th style="text-align: center">Phone Number</th>
        <th style="text-align: center">Role</th>
        <th style="text-align: center">Salary</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
        <tr>
          <td style="text-align: center">{{ employee.client.stakeholderID }}</td>
          <td style="text-align: center">{{ employee.client.first_name }}</td>
          <td style="text-align: center">{{ employee.client.last_name }}</td>
          <td style="text-align: center">{{ employee.client.mobile }}</td>
          <td style="text-align: center">{{ employee.role }}</td>
          <td style="text-align: center">{{ employee.salary }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
